body{
    background-color: rgb(0, 153, 255);
}

.titulo{
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.menu{
    color: white;
    text-align: center;
    display: flex;
    gap: 80px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

